version: "3"

services:

  db:
    image: postgres:16-alpine
    restart: on-failure
    environment:
      - PGDATA=/var/lib/postgresql/data/pg_data
    env_file:
      - .env
    expose:
      - "5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "-c", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      retries: 3
      timeout: 3s

  app:
    build: .
    tty: true
    ports:
      - "8000:8000"
    command: bash -c 'python manage.py migrate && python manage.py runserver 0.0.0.0:8000'
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    env_file:
      - .env

volumes:
  pg_data:
